<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="http://localhost:4200">630Manga</a>
</nav>

  <button class="button" type="submit" (click)="onSubmit()">Search</button>
  <input id="myTitle" type="text" />


<!--<ul class="list-group" *ngIf="loadedManga.length >= 1">
  <li class="list-group-item" *ngFor="let manga of loadedManga">
    <h3> asdas </h3>
    <p> asdasd </p>
  </li>
</ul>-->

<!--<ul class="list-group">
  <li class="list-group-item">
    <h3> {{manga.title}} </h3>
    <p> {{manga.authors}} </p>
  </li>
</ul>-->
